@import '../../../styles/variable.scss';
@import '../../../styles/variableListDetail.scss';
@import '../../../styles/mixinSet.scss';

.tealist {
  transition: all 500ms ease-in;

  .main-container {
    @include flex-common(60%, center);
    position: relative;
    margin: calc(#{$margin-value} + 25px) 0;
    min-height: 50vh;

    .aside-menu {
      flex: 0 0 8%;
      min-width: 200px;
      margin-right: calc(#{$margin-value} + 8px);
      font-family: 'arita-buri', 'sans-serif';
      font-weight: bold;

      .title {
        margin-bottom: $margin-value;
        color: $color-black;
        font-size: $font-large;
      }

      .list-in-title {
        margin: $margin-value 0;
        width: 100%;
        padding: 9px;
        font-size: $font-large;
        font-family: 'arita-buri', 'sans-serif';
        font-weight: bold;
        color: white;
        text-align: left;
        background-color: $color-green;
      }
    }

    .teashop {
      flex: 0 0 60%;
      display: flex;
      flex-direction: column;

      .teashop-header {
        @include flex-common(auto, space-between, center);
        margin-bottom: $margin-value;
        border-bottom: 1px solid $color-border;
        min-width: 700px;

        .title {
          padding-bottom: $margin-value;
          font-size: $font-large;
          text-transform: uppercase;
        }
      }

      .teashop-filter {
        @include flex-common(auto, space-between, center);
        padding-top: $margin-value;

        .total {
          color: $color-black;

          .bold {
            @include bold($color-green);
          }
        }
      }
    }

    .teashop-list {
      display: flex;

      .list-tea {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(#{$margin-value} * 3);
        overflow: hidden;
        border-right: 1px solid white;
      }
    }

    .top {
      @include position-set(fixed, auto, 20px, 50px, auto);
      padding: calc(#{$margin-value} - 6px);
      color: $color-border;
      background-color: $font-color-filterBtn;
      border-radius: 50%;
    }
  }

  @media screen and (min-width: 1100px) and (max-width: 1280px) {
    .main-container {
      .aside-menu {
        flex: 0 0 8%;
      }

      .teashop {
        flex: 0 0 75%;
      }
    }
  }

  @media screen and (min-width: 1430px) {
    .main-container {
      .aside-menu {
        flex: 0 0 8%;
      }

      .teashop {
        flex: 0 0 75%;
        max-width: 1072px;
      }
    }
  }
}
