@import '../../styles/variable.scss';

.item-inner {
  padding: 0 100px;
}

.inner {
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  height: 560px;
  padding: 90px 80px 80px 80px;
  background-color: #f6f5ee;
  overflow: hidden;
}

.box-wrap {
  display: flex;
}
.descbox {
  display: flex;
}

.left-btn {
  position: absolute;
  width: 248px;
  height: 60px;
  top: 70%;
  padding: 18px 0;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 1.3;

  a {
    color: #555;
  }
}

// .img-slidebox {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 864px;
//   padding-left: 40px;
//   overflow: hidden;

//   img {
//     margin-top: 65px;
//     display: inline;
//     width: 70%;
//     height: 70%;
//   }

.main-weeklybest {
  position: relative;
  width: 1560px;
  margin: 0 auto;
  padding: 100px 0;
  line-height: 1.7;

  .btn-wrapper {
    position: absolute;
    width: 1560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 40%;
  }

  .main-inner {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;

    .title-weekly {
      font-weight: 700;
      font-size: 32px;
      color: #333;
      line-height: 1;
      padding-bottom: 60px;
    }
  }

  .slide-weeklybest {
    display: flex;
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.weeklybest-btn {
  display: inline-block;
  width: 248px;
  height: 60px;
  padding: 18px 0;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 1.3;
  margin: 0 auto;

  a {
    color: #555;
  }
}

.main-sns {
  overflow: hidden;
  padding: 0 100px;
  background-color: #f6f5ee;

  .sns-inner {
    position: relative;
    max-width: 1560px;
    margin: 0 auto;
    height: 520px;
    padding: 90px 80px 80px 80px;
    background-color: #f6f5ee;
  }

  .sns-descbox {
    width: 616px;

    .sns-promo-title {
      font-size: 32px;
      margin-bottom: 14px;
      margin: 0 0 36px;

      a {
        height: 48px;
        font-weight: 700px;
        line-height: 1.5;
        letter-spacing: -0.8px;
      }
    }

    .sns-promo-date {
      margin: 0 0 36px;
    }

    .sns-promo-onepoint {
      height: 58px;
      line-height: 1.7;
    }

    .sns-left-btn {
      display: inline-block;
      width: 248px;
      height: 60px;
      padding: 18px 0;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.15);
      text-align: center;
      line-height: 1.3;

      a {
        color: #555;
      }
    }

    .sns-img-slidebox {
      position: absolute;
      top: 0;
      right: 0;
      width: 864px;
      padding-left: 40px;

      img {
        margin-top: 65px;
        display: inline-block;
        width: 70%;
        height: 70%;
      }
    }
  }
}
