.item_inner {
  width: 100%;
  padding: 0 100px;
}

.item_inner .inner {
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  height: 520px;
  padding: 90px 80px 80px 80px;
  background-color: #f6f5ee;
}

.item_inner .descbox {
  width: 616px;
  height: 100%;
}

.item_inner .descbox .promo_title {
  position: relative;
  font-size: 32px;
  margin-bottom: 14px;
  margin: 0 0 36px;
}

.item_inner .descbox .promo_title a {
  width: 100%;
  height: 48px;
  font-weight: 700px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  overflow: hidden;
}

.item_inner .descbox .promo_date {
  margin: 0 0 36px;
}

.item_inner .descbox .promo_onepoint {
  height: 58px;
  line-height: 1.7;
  overflow: hidden;
}

.item_inner .descbox .left-btn {
  display: inline-block;
  width: 248px;
  height: 60px;
  padding: 18px 0;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 1.3;
}

.item_inner .descbox .left-btn a {
  color: #555;
}

.item_inner .descbox .img-slidebox {
  position: absolute;
  top: 0;
  right: 0;
  width: 864px;
  padding-left: 40px;
  overflow: hidden;
}

.item_inner .descbox .img-slidebox img {
  margin-top: 65px;
  display: inline;
  width: 70%;
  height: 70%;
}

.main-weeklybest {
  position: relative;
  width: 1560px;
  margin: 0 auto;
  padding: 100px 0;
  line-height: 1.7;
}

.main-weeklybest .btn-wrapper {
  position: absolute;
  width: 1560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
}

.main-weeklybest .main-inner {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.main-weeklybest .main-inner .title-weekly {
  font-weight: 700;
  font-size: 32px;
  color: #333;
  line-height: 1;
  padding-bottom: 60px;
}

.main-weeklybest .slide-weeklybest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

.weeklybest-btn {
  display: inline-block;
  width: 248px;
  height: 60px;
  padding: 18px 0;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 1.3;
  margin: 0 auto;
}

.weeklybest-btn a {
  color: #555;
}

.main-sns {
  overflow: hidden;
  padding: 0 100px;
  background-color: #f6f5ee;
}

.main-sns .inner {
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  height: 520px;
  padding: 90px 80px 80px 80px;
  background-color: #f6f5ee;
}

.main-sns .descbox {
  width: 616px;
}

.main-sns .descbox .promo_title {
  font-size: 32px;
  margin-bottom: 14px;
  margin: 0 0 36px;
}

.main-sns .descbox .promo_title a {
  height: 48px;
  font-weight: 700px;
  line-height: 1.5;
  letter-spacing: -0.8px;
}

.main-sns .descbox .promo_date {
  margin: 0 0 36px;
}

.main-sns .descbox .promo_onepoint {
  height: 58px;
  line-height: 1.7;
}

.main-sns .descbox .left-btn {
  display: inline-block;
  width: 248px;
  height: 60px;
  padding: 18px 0;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 1.3;
}

.main-sns .descbox .left-btn a {
  color: #555;
}

.main-sns .descbox .img-slidebox {
  position: absolute;
  top: 0;
  right: 0;
  width: 864px;
  padding-left: 40px;
}

.main-sns .descbox .img-slidebox img {
  margin-top: 65px;
  display: inline-block;
  width: 70%;
  height: 70%;
}
/*# sourceMappingURL=MainPage.css.map */