.item-inner {
  left: 0;
  width: 100%;
  // background-color: #f6f5ee;
  overflow: hidden;
  padding: 0 100px;

  .inner {
    position: relative;
    max-width: 1560px;
    margin: 0 auto;
    height: 520px;
    padding: 90px 80px 80px 80px;
    margin-top: 80px;
    background-color: #f6f5ee;
  }

  .descbox {
    width: 616px;
    height: 100%;

    .promo-title {
      position: relative;
      font-size: 32px;
      margin-bottom: 14px;
      margin: 0 0 36px;

      a {
        width: 100%;
        height: 48px;
        font-weight: 700px;
        line-height: 1.5;
        letter-spacing: -0.8px;
        overflow: hidden;
      }
    }

    .promo-date {
      position: relative;
      margin: 0 0 36px;
    }

    .promo-onepoint {
      position: relative;
      display: block;
      display: -webkit-box;
      width: 100%;
      height: 58px;
      line-height: 1.7;
      overflow: hidden;
    }

    .left-btn {
      display: inline-block;
      width: 248px;
      height: 60px;
      padding: 18px 0;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.15);
      text-align: center;
      line-height: 1.3;

      a {
        color: #555;
      }
    }

    .img-slidebox {
      position: absolute;
      top: 0;
      right: 0;
      width: 864px;
      padding-left: 40px;
      overflow: hidden;

      img {
        margin-top: 65px;
        display: inline;
        width: 70%;
        height: 70%;
      }
    }
  }
}

.main-weeklybest {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  padding: 100px 0;
  line-height: 1.7;

  .main-inner {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;

    .title-weekly {
      font-weight: 700;
      font-size: 32px;
      color: #333;
      line-height: 1;
      padding-bottom: 60px;
    }
  }
  .slide-weeklybest {
    display: flex;
    width: 300vw;
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  padding-top: 80px;

  .weeklybest-btn {
    display: inline-block;
    width: 248px;
    height: 60px;
    padding: 18px 0;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 1.3;
    margin: 0 auto;

    a {
      color: #555;
    }
  }
}

// Sns
.main-sns {
  left: 0;
  width: 100%;
  background-color: #f6f5ee;
  overflow: hidden;
  padding: 0 100px;

  .inner {
    position: relative;
    max-width: 1560px;
    margin: 0 auto;
    height: 520px;
    padding: 90px 80px 80px 80px;
    background-color: #f6f5ee;
  }

  .descbox {
    width: 616px;
    height: 100%;

    .promo_title {
      position: relative;
      font-size: 32px;
      margin-bottom: 14px;
      margin: 0 0 36px;

      a {
        width: 100%;
        height: 48px;
        font-weight: 700px;
        line-height: 1.5;
        letter-spacing: -0.8px;
        overflow: hidden;
      }
    }

    .promo_date {
      position: relative;
      margin: 0 0 36px;
    }

    .promo_onepoint {
      position: relative;
      display: block;
      display: -webkit-box;
      width: 100%;
      height: 58px;
      line-height: 1.7;
      overflow: hidden;
    }

    .left-btn {
      display: inline-block;
      width: 248px;
      height: 60px;
      padding: 18px 0;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.15);
      text-align: center;
      line-height: 1.3;

      a {
        color: #555;
      }
    }

    .img-slidebox {
      position: absolute;
      top: 0;
      right: 0;
      width: 864px;
      padding-left: 40px;
      overflow: hidden;

      img {
        margin-top: 65px;
        display: inline;
        width: 70%;
        height: 70%;
      }
    }
  }
}
