@import '../../../../styles/variable.scss';
@import '../../../../styles/variableListDetail.scss';
@font-face {
  font-family: 'arita-buri';
  src: local(※),
    url('../../../../assets/font/Arita-buriL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.product-tea {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  padding: 0 22px 70px;
  border-right: 1px solid $color-list-border;

  @media screen and (min-width: 0px) and(max-width: 1100px) {
    flex: 0 0 33%;
  }

  .tea-img-container {
    flex: 0 0 1;
    display: block;
    position: relative;

    .tea-img-before {
      width: 100%;
      transition: all 300ms ease-in-out;
    }

    .tea-img-after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: all 300ms ease-in-out;
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 65px;
      height: 65px;
      font-size: $font-xxlarge;
      color: white;
      background-color: black;
      opacity: 0;
      border-radius: 50%;
    }

    &:hover > .tea-img-before {
      opacity: 0;
    }

    &:hover > .tea-img-after {
      opacity: 1;
    }

    &:hover > .cart {
      opacity: 0.6;
    }
  }

  .name {
    flex: 0 0 1;
    height: 48px;
    margin-top: calc(#{$margin-value} * 3);
    margin-bottom: $margin-value;
    font-family: $font-buri;

    .name-link {
      font-size: $font-xlarge;
      text-decoration: none;
      color: $color-black;
      font-family: 'arita-buri', 'sans-serif';
      font-weight: bold;
    }

    &:active,
    &:visited {
      color: $color-black;
    }
  }

  .price {
    flex: 0 0 0.5;
    height: 50px;
    font-size: $font-xlarge;
  }

  .count-container {
    flex: 0 0 20%;
    position: relative;

    .view-icon {
      position: absolute;
      top: -3px;
      font-size: $font-xlarge;
      color: $color-icon-views;
    }

    .count {
      position: relative;
      padding-left: 29px;
      color: $color-icon-views;
    }
  }
}
