@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

// font-size
$font-small: 12px;
$font-normal: 16px;
$font-large: 18px;
$font-xlarge: 20px;
$font-xxlarge: 32px;

// color
$color-green: #74824c;
$color-black: #333333;
$color-menu: #999999;
$color-border: #dbdbdb;
