@import '../../../../styles/variable.scss';
@import '../../../../styles/variableTeaList.scss';

.slide {
  display: inline-block;
  position: relative;
  .tea-video {
    width: 50vw;
    height: 100%;
    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tea-info {
    position: absolute;
    top: 65%;
    right: 0;
    text-align: right;
    padding-right: calc(#{$margin-value} + 40px);
    color: white;

    .tea-name {
      font-size: calc(#{$font-xxlarge} + 4px);
    }

    .description {
      margin-top: calc(#{$margin-value} + 10px);
      font-size: $font-large;
    }
  }
}
