@import '../../../../styles/variable.scss';
@import '../../../../styles/variableListDetail.scss';
@import '../../../../styles/mixinSet.scss';

.detail-wrapper {
  @include flex-common(auto, center);
  margin: calc(#{$margin-value} + 10px);

  .item-thumbnail-wrapper {
    position: relative;
    @include flex-common(auto, center, center);
    @include width-height(49.5%, 70vh);
    max-width: 580px;
    margin: calc(#{$margin-value} + 11px);
    padding: 30px 40px 110px;
    background-color: #f8f9fb;

    .item-thumbnail {
      padding: 40px;

      .thumbnail {
        @include width-height(100%, 100%);
        border-radius: 10px;
        max-width: 480px;
      }
    }

    .benefit {
      @include flex-common(100%, flex-start, center);
      @include position-set(absolute, auto, auto, 50px, 20px);
      color: #505051;

      .icon {
        margin-right: 10px;
        font-size: 24px;
      }

      .content {
        display: inline;
      }
    }
  }

  .item-info {
    margin: calc(#{$margin-value} + 15px);
    max-width: 560px;

    .item-info-top {
      margin-bottom: $margin-value;

      .location {
        margin-bottom: $margin-value;
        color: $color-menu;

        .root {
          margin-right: calc(#{$margin-value} - 9px);
        }

        .category {
          margin-left: calc(#{$margin-value} - 9px);
          text-decoration: none;

          &:active,
          &:visited {
            color: $color-menu;
          }
        }
      }

      .product-title {
        margin-bottom: $margin-value;
        font-size: 36px;
      }

      .description {
        color: $color-black;
        font-size: $font-large;
      }

      .share-price {
        @include flex-common(auto, space-between, flex-start);
        padding: calc(#{$margin-value} * 2) 0;
        border-bottom: 1px solid $color-border;

        .price {
          font-size: 28px;

          .bold {
            font-weight: bold;
          }
        }
      }
    }

    .item-info-middle {
      padding: $margin-value;
      border: 1px solid $color-border;
      background-color: $color-bg-box;

      .selected-item {
        margin-top: $margin-value;

        .product-amount {
          @include flex-common(auto, space-between, center);

          .item-name {
            font-size: $font-large;
            padding-left: calc(#{$margin-value} - 3px);
          }

          .modify-amount {
            @include flex-common(auto, flex-start, center);
            font-size: 24px;

            .decrease,
            .increase {
              font-size: $font-large;
              cursor: pointer;
            }

            .count {
              min-width: 24px;
              margin: 0 $margin-value;
              text-align: center;
            }
          }
        }
      }
    }

    .item-info-bottom {
      text-align: right;

      .value-amount {
        @include flex-common(auto, space-between, center);
        margin-top: calc(#{$margin-value} * 8);

        .product-total {
          color: $color-green;
          font-size: 24px;
        }

        .value {
          display: inline;
          font-size: 46px;
          color: $color-green;

          .bold {
            font-weight: bold;
          }
        }
      }

      .cart-btn {
        @include width-height(25%, 55px);
        margin-top: calc(#{$margin-value} + 35px);
        line-height: 25px;
        letter-spacing: -0.6px;
        color: white;
        font-size: $font-large;
        background-color: $color-black;
      }
    }
  }
}
