@import '../../../../../styles/variable.scss';
@import '../../../../../styles/variableListDetail.scss';

.benefits-wrapper {
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 50px;

  .benefit {
    flex: 0 0 100%;
    color: #505051;

    .icon {
      margin-right: 10px;
      font-size: 24px;
    }

    .content {
      display: inline;
    }
  }
}
