@import '../../../../../styles/variable.scss';
@import '../../../../../styles/variableListDetail.scss';

.option-bar {
  position: relative;
  margin-top: calc(#{$margin-value} + 5px);

  .value-box {
    position: relative;
    display: block;
    padding: $margin-value;
    color: $color-black;
    border: 1px solid $color-border;
    background-color: white;
    text-decoration: none;

    &:active,
    &:visited {
      color: $color-black;
    }

    .value {
      text-decoration: none;

      &::after {
        position: absolute;
        top: 50%;
        right: 16px;
        width: 15px;
        height: 9px;
        content: '  ';
        background-image: url('../../../../../assets/arr_down_15x9.gif');
        background-size: cover;
      }

      &.on::after {
        transform: rotate(180deg);
      }
    }
  }

  .options {
    position: absolute;
    width: 100%;
    height: 100px;
    border: 1px solid $color-border;
    background-color: white;

    .options-list {
      height: 50%;
      line-height: 50px;
      z-index: -2;

      .option-product {
        display: block;
        padding-left: $margin-value;
        font-size: $font-large;
        text-decoration: none;
        color: $color-black;
        cursor: pointer;

        &:hover {
          background-color: $color-list-border;
        }
      }
    }
  }
}
