@import '../../styles/common.scss';
@import '../../styles/variable.scss';
@import '../../styles/variableNav.scss';

a {
  text-decoration: none;
}

.Nav {
  height: 80px;

  .nav-inner {
    @include flex-space-between;
    position: fixed;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 80px;
    border-bottom: 1px solid $color-border;
    z-index: 10;
    background-color: #fff;

    .logo {
      cursor: pointer;
    }
  }
  .navbar {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 0 0 0 190px;
  }
}

.menu-list {
  list-style: none;
  @include flex-space-between;
  position: relative;

  li {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;

    a {
      transition: all 0.3s ease 0s;
      color: #555;
      font-size: 18px;
      font-weight: 500;

      &:hover {
        color: $color-green;
      }
    }
  }
}

.nav-side {
  display: flex;
  padding: 0 20px;

  .menubox-icon {
    padding: 0 20px;

    .fa-search {
      padding: 0 20px;
    }
  }
}

.menubox-member {
  display: flex;
  padding: 0 20px;
  cursor: pointer;

  .nav-login {
    padding: 0 20px;
    cursor: pointer;

    a {
      color: #555;

      &:hover {
        color: $color-green;
      }
    }
  }

  .nav-signup {
    cursor: pointer;

    a {
      color: #555;

      &:hover {
        color: $color-green;
      }
    }
  }
}
